img {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}
.selectt {
  color: #fff;
  padding: 0px;
  width: 80%;
  margin: auto;
  text-align: center;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #f10000;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 10px 150px #111;
  border-radius: 2px;
}
::selection {
  background-color: red;
  color: #fff;
}
.hider {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #343434;
  padding: 10px;
  margin-left: 0%;
}
.selectt input {
  width: 100%;
}
.selectt p {
  float: left;
}
.head h1,
.head h2 {
  margin: 0px;
  width: auto;
}
.head h2 {
  margin-left: 10px;
}
.inps {
  margin-top: 2%;
}

.head {
  text-align: start;
  margin-top: 10%;
}
h1 {
  color: white;
  /* Register */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;

  color: #ffffff;
  margin-bottom: 0px;
}

.container {
  margin: 8% 10%;
}
h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 500px;
  color: #ffffff;
}
body {
  background-color: #1f1f1f;
  font-family: "Inter", sans-serif;
}
a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;

  color: #f10000;
}
p {
  color: white;
}
.oneinp input {
  width: 100%;
}
.oneinp {
  display: inline-block;
  width: 100%;
}
.twoinp {
  width: 100%;
}
.twoinpp {
  width: 100%;
}
.twoinp .first,
.twoinp .second {
  display: inline-block;
  width: 48%;
}
.twoinpp .firstt {
  width: 80%;
  float: left;
}
.twoinpp .secondd {
  width: 10%;
  float: right;
}
.second {
  float: right;
}
.secondd {
  float: right;
}
.twoinp .first input,
.twoinp .second input {
  width: 100%;
}
.twoinpp .firstt input,
.twoinpp .secondd input {
  width: 100%;
}

label {
  margin-right: 20px;
}
input[type="text"] {
  background: #343434;
  border-radius: 5px;
  outline: none;
  height: 40px;
  padding: 0px 10px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #e3e3e3;
}
.error {
  margin-top: 30px !important;
  width: 100%;
  text-align: start;
}
.dabba {
  position: relative;
  display: inline-block;
  width: 18%;
  height: 200px;
  background-color: #343434;
  height: 70px;
  background: #343434;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
}
.dabba:not(:first-child) {
  margin-left: 1%;
}
.row {
  text-align: center;
  margin-top: 5%;
}
.dabba input {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1.4em;
  height: 1.4em;
  background-color: white;
  border-radius: 50%;
  -webkit-appearance: none;
  outline: none;
  pointer-events: none;
}
.dabba i {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  -webkit-appearance: none;
  outline: none;
  pointer-events: none;
  color: white;
}
.dabba input:checked {
  background-color: #f10000;
}
.dabba p {
  margin-top: 35px;
  transform: translateY(-50%);
}
button {
  margin-top: 10%;
  background: #f10000;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: block;
  color: #ffffff;
  border: none;
  padding: 20px 40px;
  float: right;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
    width: 100%;
  }
  .twoinp .first,
  .twoinp .second {
    display: inline-block;
    width: 100%;
  }
  .dabba {
    width: 48%;
    margin-top: 5%;
  }
  .dabba:not(:first-child) {
    margin-left: 0%;
  }
  .dabba input {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    pointer-events: none;
  }
  button {
    margin-top: 20%;
  }
  .selectt {
    width: 100%;
    margin: 0px;
  }
  .container {
    margin: 5% 12% 10% 5%;
  }
  .row {
    margin-left: 5%;
  }
  .head h1 {
    line-height: 40px;
    transform: translateX(-3px);
  }
  .head h2 {
    margin-left: 0px;
  }
}
